<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BFL_SMS.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-R76U6T47\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=bfl_sms"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>